<% @posts.each do |p| %>
	<article>
		<h3><a href="/blog/<%= p.slug %>"><%= p.title %></a></h3>
		<h6>Posted by <%= p.author %> on <%= p.created_at %></h6>
		<%= markdown(p.body[0, 150]) %>
	</article>
	<hr/>
<% end %>